{% extends 'base.html' %}

{% block title %}
    <title>Password</title>
{% endblock title %}

{% block content %}

<script src ="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

{% if validlink %}

<h1>Set a new password!</h1>

  <div class="container">
    <div class="jumbotron">

      <div class="container">
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">"Change my password"</button>
</form>
  {% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}

</div>
  </div>
    {% block scripting %}
 <script>
     $(document).ready(function () {
     $('.dropdown-toggle').dropdown();
     });
</script>
{% endblock %}
{% endblock content %}
</div>
