<{% extends 'base.html' %}
{% block title %}
    <title>Delete Employee</title>
{% endblock title %}

{% block content %}

<script src ="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src ="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src ="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <div class="container">
<form method="POST" class="post-form" >
        {% csrf_token %}
    <div class="text-danger">
                <h3><strong>Are you sure you want to delete employee id:{{ employee.eid  }}?</strong> </h3>
    </div>
    <div class="container">
<br>
    <div class="form-group row">
    <label class="col-sm-2 col-form-label"></label>
    <div class="col-sm-4">
    <h3>Employee Details</h3>
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-3 col-form-label">Employee Id:</label>
    <div class="col-sm-4">
        <label>{{ employee.eid }} </label>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-sm-3 col-form-label">Employee Name:</label>
    <div class="col-sm-4">
        <label>{{ employee.ename }} </label>
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-3 col-form-label">Employee Email:</label>
    <div class="col-sm-4">
        <label>{{ employee.eemail }} </label>
    </div>
  </div>

    <div class="form-group row">
    <label class="col-sm-3 col-form-label">Employee Contact:</label>
    <div class="col-sm-4">
         <label>{{ employee.econtact }} </label>
    </div>
    </div>

   <div class="form-group row">
    <label class="col-sm-3 col-form-label">Employee Date of Birth:</label>
    <div class="col-sm-4 ">
         <label>{{ employee.edob }} </label>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-1 col-form-label"></label>
    <div class="col-sm-4">
    <button type="submit" class="btn btn-danger"><i class="fa fa-trash" style="font-size:24px;color:white"></i>Delete</button>
    <a href="/employees" class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>Cancel</a>
    </div>
  </div>

    </div>

</form>
 </div>
{% block scripting %}
<script>
   $(function () {
    $("#id_edob").datetimepicker({
        timepicker:false,
        datepicker:true,
        format:"Y-m-d", //Date format
        value:"2000-8-1", //default Date
        todayHighlight: true,
        autoclose: true,
        weeks:false
     })

     });
 </script>

 <script>
     $(document).ready(function () {
     $('.dropdown-toggle').dropdown();
     });
</script>
{% endblock %}

{% endblock content %}





